* {  /*define configurações sobre todo o html*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

header{ /*define configurações de display e aparência sobre o header*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;

    img{/*define configurações de tamanho e margem sobre todas as imagens*/
        height: 36px;
        margin: 16px 10px;
    }

    ul{/*configurações de dislay e aparência da nav bar*/
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 0;
        color: #000000;
        text-decoration: none;
        
    }

    li{/*configurações dos textos,opções dentro da nav bar*/
        cursor: pointer;
        color: #000000;
        font-size: 13px;
    }
}

.carouser-content{ /*configurações sobre a posição das imagens dentro do carrousel*/
    position: absolute;
    top: 60px;
    width: 30%;
    margin-left: 5%;

    h2{ /*configurações de todos os h2 ou subtítulo de tamanho e margem*/
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    p{/*configurações estéticas de todos os paragrafos*/
        font-size: 1.2rem;
        color: #000000cc;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    button{ /*define configurações estéticas e de espaçamento sobre todos os botões*/
        background-color: #000000;
        color: #fff;
        padding: 10px 12px;
        font-weight: 500;
        border: none;
    }

    a{ /*define configurações estéticas e de margem de todos os links*/ 
        font-size: 1.2rem;
        margin-left: 10px;
        font-weight: 600;
    }

}
.slide{ /*define configurações dos botões de passar ou voltar do carrousel*/
    .carousel-control-prev, .carousel-control-next{
         top: 300px;
    }
}
 
 .carousel-content {/*define configurações sobre os quadrados que contém os textos de apresentação*/
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

.carousel-item { /*define a posição dos itens do carrousel*/
    position: relative;
}

.carousel-item img { /*define o tamanho das imagens do carrousel*/
    width: 100%;
    height: auto;
}

.btn-custom {
    margin-top: 10px;
    background-color: transparent; /* Remove o fundo */
    color: white; /* Cor do texto do botão */
    border: 1px solid white; /* Borda branca */
}

.btn-custom:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efeito de hover */
}
